*{
    margin:0;
    padding:0;
}

header{
    background-color: #fef7e0;
}

nav{
    background-color: #c7714b;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    display: inline-block;
    width: 19%;
    text-align: center;
    padding-top: 1%;
}

a{
    color:#fef7e0
    font-size 25px;
    text-decoration: none;
    font-family: "Inconsolata", system-ui;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main{
    display: grid;
    background-color: #fef7e0;
}

h1{
    color: #c7714b;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
    background-color: #fef7e0;
}

form{
    color: #c7714b;
    background-color: #fef7e0;
    font-size: 25px;
    text-decoration: none;
    font-family: "Inconsolata", system-ui;
    text-align: left;
}

footer{
    background-color: #c7714b;
}

#PiedePágina{
    color: #fef7e0;
    font-family: "Inconsolata", system-ui;
    font-size: 15px;
    font-weight: 150;
    text-decoration: none;
    background-color: #c7714b;
}

@media only screen and (max-width:600px) {

    header{
        height: 500px;
    }

    nav{
        height: 200px;
    }

    main{
        height: 2000px;
    }

    footer{
        height: 100px;
    }

    ul{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    a{
        font-size: 25px;
    }

    #grilla{
        grid-template-columns: 90%;
        grid-template-rows: 495px 995px;
        grid-template-areas: "contacto"
                             "form";
        align-content: space-around;
        justify-content: center;  
        row-gap: 10px;                
    }
}

@media only screen and (min-width:600px) {

    header{
        height: 300px;
    }

    ul{
        height: 80px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    li{
        width: 15%;
        text-align: center;
    }

    a{
        font-size: 30px;
    }

    #grilla{
        height: 1600px;
        grid-template-columns: 90%;
        grid-template-rows: 595px 995px;
        grid-template-areas: "contacto"
                             "form";
        justify-content: space-evenly;
        align-content: space-around;
        row-gap: 10px;
                            
    }

}

@media only screen and ( min-width: 992px ){

    header{
        height: 200px;
    }

    nav{
        height: 100px;
    }

    main{
        height: 2000px;
    }

    footer{
        height: 50px;
    }

    ul{
        height: 60px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    li{
        width: 15%;
        text-align: center;
    }

    a{
        font-size: 35px;
    }

    #grilla{
        height: 1800px;
        grid-template-columns: 90%;
        grid-template-rows: 395px 1395px ;
        grid-template-areas: "contacto"
                             "form";
        justify-content: space-evenly;  
        align-content: space-around;   
        row-gap: 10px;            
    }


}


